<header>
	<div class="container">

		<div class="mainnav">
			<a routerLink="/" class="logo">
				Museum Catalog
			</a>
			<nav>
				<ul>
					<li ><a href="#" routerLink="/" id="home">Home</a></li>
					<li ><a href="#"  id="explore">Museums</a></li>
					<li ><a href="/favourites"  id="experience">Favorites</a></li>
          			<li ><a href="/login" id="login">Login</a></li>
				</ul>
			</nav>
		</div>
	</div>
</header>




<div id="main" class="container">
	<router-outlet></router-outlet>
</div>