<header>
	<div class="container">

		<div class="mainnav">
			<a routerLink="/" class="logo">
				Museum Catalog
			</a>
			<nav>
				<ul>
					<li *ngIf="isAuthenticated"><a href="#" routerLink="/" id="home">Home</a></li>
					<li *ngIf="isAuthenticated"><a href="#" routerLink="/museum" id="explore">Museums</a></li>
					<li *ngIf="isAuthenticated"><a href="#" routerLink="/favourites" id="experience">Profile</a></li>
          			<li *ngIf="isAuthenticated"><a (click)="logout()">Logout</a></li>
				</ul>
			</nav>
		</div>
	</div>
</header>

<div id="main" class="container">
	<router-outlet></router-outlet>
</div>