ul {
    list-style-type: none;
    overflow: hidden;
  }

li {
  height: 25px;
  float: left;
  margin-right: 0px;
  border-right: 1px solid #aaa;
  padding: 0 10px;

}

li:last-child {
  border-right: none;
}
 
li a {
  text-decoration: none;
  color: #ccc;
  font: 25px/1 Helvetica, Verdana, sans-serif;
  text-transform: uppercase;
 
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
 
li a:hover {
  color: #666;
}
 
li.active a {
  font-weight: bold;
  color: #333;
}


a {
    text-decoration: none;
    font-size: 20px;
    color: black;
    /*padding: 1em;
*/    border-left: 1px solid black;
}

a.logo {
    font-weight: bold;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 24px;
    color: black;
    border-left: none;
}

a:hover {
    color: white;
}

header {
    padding: 1em 0 11px 0;
}

nav {
    float: right;
}

#main {
    background-color: white;
}

