.container {
  border: 1px solid black;
  
  top: 0; right: 0; bottom: 0; left: 0;
  margin: auto;
  
  display: grid;
  place-items: center;
  background-color: $pri;
}

.items {
  width: 800px;
  background: $sec;
  box-shadow: 0 3px 6px rgba(black,0.16), 0 3px 6px rgba(black,0.23);
  border-top: 10px solid $dark-pri;
}

.items-head p{
  padding: 5px 20px;
  margin: 10px;
  color: #0B5AA2;
  font-weight: bold;
  font-size: 20px;
}

.items-head hr {
  width: 20%;
  margin: 0px 30px;
  border: 1px solid $dark-pri;
}

.allArtifacts li{
  position: relative;
  cursor: pointer;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 100%;
  border-radius: 4px;
  overflow: auto;
}
.allArtifacts li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}
button {
  transition-duration: 0.3s;
  background-color: #cbeccc; 
  float: right;
}

button:hover {
  background-color: #4CAF50; 
  color: white;
}

.items-body-content {
  padding: 10px;
  padding-right: 0px;
  display: grid;
  grid-template-columns: 10fr 1fr;
  background-color: white;
  font-size: 20px;
  grid-gap: 10px;
  border: 1px solid transparent;
  cursor: pointer;
  
}

.items-body-content:hover {
  border-radius: 15px;
  border: 1px solid $dark-pri;
}

.items-body-content i {
  align-self: center;
  font-size: 15px;
  color: $dark-pri;
  font-weight: bold;
  animation: icon 1.5s infinite forwards;
}

@keyframes icon {
  0%,100%{
    transform: translate(0px);
  }
  50% {
    transform: translate(3px);
  }
}