.allArtifacts li{
    position: relative;
    cursor: pointer;
    background-color: #EEE;
    margin: .5em;
    padding: .3em 0;
    height: 100%;
    border-radius: 4px;
    overflow: auto;
  }
  .allArtifacts li:hover {
    color: #607D8B;
    background-color: #DDD;
    left: .1em;
  }
